<div class="navbar">
  <div class="container">
    <h1>Investments Tracker</h1>
  </div>
</div>

<div class="scroll-container">
  <div class="container">
    <div class="section-container">
      <div>
        <div class="section">
          <div class="section-header">
            <h2>Investments</h2>
            <button class="add-btn"><i class="fas fa-plus"></i> Add New Investment</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Total Investments</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="investments.length > 0; else NoDataTemplate">
                <tr *ngFor="let investment of investments; let i = index" [class.selected]="investment.id == selectedInvestmentId" (click)="selectedInvestmentId = investment.id; getTransactions()">
                  <td>{{ i + 1 }}</td>
                  <td>{{ investment.title }}</td>
                  <td>{{ investment.totalInvestments }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <div class="section">
          <div class="section-header">
            <h2>Transactions</h2>
            <button class="add-btn"><i class="fas fa-plus"></i> Add New Transaction</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th>Interest 1.5%</th>
                <th>Interest 1.25%</th>
                <th>Interest 1%</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="transactions.length > 0; else NoDataTemplate">
                <tr *ngFor="let transaction of transactions; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ transaction.amount }}</td>
                  <td>{{ transaction.transactionDate }}</td>
                  <td>{{ transaction.interest150 }}</td>
                  <td>{{ transaction.interest125 }}</td>
                  <td>{{ transaction.interest100 }}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #NoDataTemplate>
  <tr>
    <td colspan="100%" class="text-center">No Data Found</td>
  </tr>
</ng-template>